<h1>Listing Attractions</h1>

<table class="table">
<tr>
    <th>NAME</th>
    <th>TICKETS</th>
    <th>DETAILS</th>
</tr>
<%@attractions.each do |attraction|%>
<tr>
    <td><%=attraction.name%></td>
    <td><%=attraction.tickets%></td>
    <% if current_user.admin%>
        <td><%= link_to "Show #{attraction.name}", attraction_path(attraction) %></td>
    <%else%>
        <td><%= link_to "Go on #{attraction.name}", attraction_path(attraction)%>
    <%end%>
</tr>
<%end%>
</table>

<%if current_user.admin%>
<%= link_to "New Attraction", new_attraction_path%>
<%end%>
